 <footer>


            <!-- Première section colorée -->
            <div class="footer-top py-5">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <img src="images/logo-noir-blanc.png" width="110px" alt="">
                            <p class="pt-4">Notre salon de barbier est conçu pour les hommes qui apprécient la qualité
                                premium, le temps pour soi et une allure irréprochable.</p>
                        </div>

                        <div class="col-lg-4 text-start">
                            <h2 class="wow fs-3">Siège social</h2>
                            <p>106 Rue Caulaincourt, 75018 Paris, France</p>
                            <p>contact@barbier.com<br> +33 7 55 77 91 83</p>
                        </div>

                        <div class="col-lg-4 text-start">
                            <h2 class="wow fs-3">Heures d'ouverture</h2>
                            <p>Tous les jours, de 9h30 à 21h30</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dernière section -->
            <div class="footer-bottom py-3">
                <div class="container">
                    <div class="row align-items-center">
                  <div class="col-md-6 text-md-start text-center">
    © Barber du Sacré Coeur, Créé par 
    <a href="https://www.numilex.com" target="_blank">
    <span class="brand-name">Numilex</span>
    </a>
</div>


                        <div class="col-md-6 text-md-end text-center">
                            <a href="ml.html">Mentions légales</a>
                            <a href="cgu.html">CGU/CGV</a>
                            <a href="confidentialite.html">Politiques de confidentialité</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>