<!-- header begin -->
<header class="transparent ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="de-flex sm-pt10 fixed-top">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="index.html">
                                    <img class="logo-main"  src="images/main-branded.png" alt="">
                                    <img class="logo-mobile" src="images/minimalistic badge1.png" alt="">
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" href="index.html">Accueil</a></li>
                            <li><a class="menu-item" href="about.html">A propos</a> </li>
                            <li><a class="menu-item" href="pricing.html">Tarifs</a> </li>
                            <li><a class="menu-item" href="gallery.html">Galerie</a></li>
                            <li><a class="menu-item" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <a href="book.html" class="btn-main">Prendre rendez-vous</a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header close -->